RewriteEngine On
RewriteRule ^liste-clients/([0-9]+)/$ /index.php?action=customers-list&page=$1
RewriteRule ^deconnexion/$ /index.php?action=disconnect
RewriteRule ^connexion/$ /index.php?action=login
RewriteRule ^ajouter-client/$ /index.php?action=add-customer
RewriteRule ^creer-client/$ /index.php?action=create-customer
RewriteRule ^recherche/$ /index.php?action=search
RewriteRule ^resultat-recherche/([a-zA-Z0-9-&.]+)/([a-zA-Z0-9-&.]+)$ /index.php?action=search-result&query=$2&row=$1
RewriteRule ^maj-client/$ /index.php?action=add-update-customer
RewriteRule ^change-list-size/$ /index.php?action=change-list-size
RewriteRule ^consulter-client/([a-zA-Z0-9-&.]+)-([0-9]+).html$ /index.php?action=view-customer&id=$2
RewriteRule ^supprimer-client/([a-zA-Z0-9-&.]+)-([0-9]+).html$ /index.php?action=delete-customer&id=$2
RewriteRule ^modifier-client/([a-zA-Z0-9-&.]+)-([0-9]+).html$ /index.php?action=update-customer&id=$2

ErrorDocument 400 /index.php?action=error&ernum=400
ErrorDocument 401 /index.php?action=error&ernum=401
ErrorDocument 402 /index.php?action=error&ernum=402
ErrorDocument 403 /index.php?action=error&ernum=403
ErrorDocument 404 /index.php?action=error&ernum=404
ErrorDocument 405 /index.php?action=error&ernum=405
ErrorDocument 500 /index.php?action=error&ernum=500
ErrorDocument 501 /index.php?action=error&ernum=501
ErrorDocument 502 /index.php?action=error&ernum=502
ErrorDocument 503 /index.php?action=error&ernum=503
ErrorDocument 504 /index.php?action=error&ernum=504
ErrorDocument 505 /index.php?action=error&ernum=505
